---
layout: page
---

<div class="tags-expo">
  <div class="tags-expo-list">
    {% for tag in site.categories %}
      {% if (page.title == "Categories") or (tag[0] == page.category) %}
    <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
      {% endif %}
    {% endfor %}
  </div>
  <hr/>
  <div class="tags-expo-section">
    {% for tag in site.categories %}
      {% if (page.title == "Categories") or (tag[0] == page.category) %}
    <!-- <a href="/{{ site.nav.Blog[0] }}{{ tag[0] }}"> -->
    <!-- FIXME TODO esa parte de la URL no es configurable -->
    <a href="/blog/{{ tag[0] }}">
      <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    </a>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }}
      <small class="post-date">{{ post.date | date_to_string }}</small>
      </li>
      </a>
      {% endfor %}
    </ul>
        {% endif %}
    {% endfor %}
  </div>
</div>
